on:
  workflow_call:

jobs:
  hlint:
    name: Fourmolu
    runs-on: ubuntu-latest
    steps:
      - name: Clone project
        uses: actions/checkout@v6

      - name: Run fourmolu
        uses: haskell-actions/run-fourmolu@v11
        with:
          version: "0.18.0.0"
